* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$primary-color: #00bcfc;
$secondary-color: #e2e2e2;

@mixin transition-ease {
  transition: all 0.5s ease-in-out;
}

// @mixin position-center {
//     position: absolute;
//     text-align: center;
//     left: 50%;
//     transform: translate(-50%, -50%);
//     color: #fff;
// }
