@import "variables";
@import "menu";
@import "hero";
@import "slider";
@import "categories";
@import "contest";

body {
  font-family: "Roboto", sans-serif;
}

p {
  line-height: 1.2;
}

.set-img{
  height: 160px;
}